{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resister-login.css') }}">
    {% endblock %}
{% block header %}
    {% include 'registration/header2.html' %}
    {% endblock %}
{% block body %}
    
    <p class="page_title">ログイン</p>
        <div class="container">
            <form action="/process_login" method="post">
                <input type="email" name="email" id="" placeholder="メールアドレス">
                <input type="password" name="password" id="" placeholder="パスワード">
                <button class="btn-black-long" type="submit">ログイン</button>
            </form>

        </div>
{% endblock %}
