<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/resister-login.css">
    <script src="https://kit.fontawesome.com/f960b0de38.js" crossorigin="anonymous"></script>
    <title>アカウント作成</title>
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <!-- 戻るボタン -->
        <a class="return-link" href="" onclick="history.back()">
            <i class="fa-solid fa-chevron-left">
            </i>
        </a>
        <h2 class="header-top app-name">トモチャット</h2>
    </header>

    <div class="container-wrap">
        <p class="page_title">アカウント作成</p>
        <div class="container">
            <form action="/process_signup" method="post">
                <input type="text" name="user_name" id="" placeholder="ユーザー名">
                <input type="email" name="email" id="" placeholder="メールアドレス">
                <input type="password" name="password" id="" placeholder="パスワード">
                <input type="password" name="password_confirm" id="" placeholder="パスワードかくにん">
                <button class="btn-black-long" type="submit">とうろく</button>
            </form>

        </div>
    </div>



</body>

</html>