<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/anger-mom.css">
    <title>寝ましょう</title>
</head>
<body>
    <div class="container-wrap">
        <div class="container">
            <div>
                <h3>寝ましょう</h3>
                <p>6時まで操作できません</p>
            </div>

            <img src="../static/img/mom-ang.png" alt="" srcset="">
        </div>
    </div>
    
    

    
</body>
</html>