<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <!-- FontAwesomeのkit -->
    <script src="https://kit.fontawesome.com/f960b0de38.js" crossorigin="anonymous"></script>
    <title>チャット</title>
</head>

<body>
    <header>
        <!-- {{ チャンネル名 }} -->
        <h2 class="header-top">チャンネル名</h2>
        <!-- {{ プロフィール画像 }} -->
        <!-- 人型アイコン -->
        <div class="avatar">
            <i class="fa-solid fa-circle-user">
            </i>
        </div>
    </header>

    <div class="container-wrap">
        <div class="container">
            <!-- メッセージがあれば -->
            <!-- {% if messages|length > 0 %} -->
            
            <!-- 送信日時が古いものを上、新しいものを下に表示 -->
            <!-- {% for message in messages(ソート済み) %} -->
            
            <!-- 自分が送信したメッセージ -->
            <!-- {% if message.uid == uid %} -->
            <div class="msgs-area right">
                <figure class="icon-img"><i class="user-avatar fa-solid fa-circle-user"></i>
                    <figcaption class="icon-name">ユーザー名</figcaption>
                    <!-- <figcaption class="icon-name">{{ message.user_name }}</figcaption> -->
                </figure>
                <div class="chatting">
                    <p class="chat-text">テキストを入力</p>
                    <!-- <p class="chat-text">{{ message.content }}</p> -->
                </div>
                <i class="edit-icon fa-solid fa-pencil js-edit-open"></i>
                <div class="edit-chat-text">
                    <!-- 編集アイコンをクリックしたら出現するtextarea -->
                    <div class="edit-text">
                        <form action="" method="post">
                            <input type="hidden" value="{{ chat_group.id }}" name="cid">
                            <button type="submit" class="btn-delete" name="message_id" value="{{ message.id }}"><i class="fa-solid fa-trash-can"></i></button>
                            <textarea name="update-message" name="message">{{ message.content }}</textarea>
                            <button type="submit" class="btn-update" name="message_id" value="{{ message.id }}"><i class="fa-solid fa-pencil"></i></button>
                        </form>
                    </div>
                </div>
            </div>


            <!-- {% else %} -->
            <!-- 他の誰かが受信したメッセージ -->
            <div class="msgs-area left">
                <figure class="icon-img"><i class="user-avatar fa-regular fa-circle-user"></i>
                    <figcaption class="icon-name">ユーザー名</figcaption>
                    <!-- <figcaption class="icon-name">{{ message.user_name }}</figcaption> -->

                </figure>
                <div class="chatting">
                    <p class="chat-text">じゅげむじゅげむ五劫の擦り切れ海砂利水魚の雲来升風来末食う寝る所に住むところラブラ工事のブラ工事</p>
                    <!-- <p class="chat-text">{{ message.content }}</p> -->
                </div>
            </div>

        </div>
        <!-- {% endif %} -->
        <!-- {% endfor %} -->
        <!-- {% endif %} -->
    </div>


    <!-- テキストボックス、送信ボタン -->
    <div class="send-msg">
        <form action="" method="post">
            <textarea type="text" name="message" id="" placeholder="Aa"></textarea>
            <button type="submit"><i class="send-msg-icon fa-solid fa-paper-plane"></i></button>
        </form>
    </div>
    </div>


    <script>
        // 入力量に合わせてtextareaの高さを変更
        const textarea = document.querySelector(".send-msg textarea[type='text']");
        function countLine() {
            textarea.style.height = textarea.scrollHeight + 'px';
        }
        textarea.addEventListener('input', countLine);

        // 編集アイコン（.js-edit-open）を押したらtextareaを表示
        const edits = document.querySelectorAll(".js-edit-open");
        edits.forEach(function(edit){
            edit.addEventListener('click', ()=>{
                const chatting = edit.previousElementSibling;
                const editArea = edit.nextElementSibling;

                chatting.style.display = 'none';
                editArea.style.display = 'block';
                edit.style.visibility = 'hidden';
                edit.style.opacity = '0';
            });
        });

    </script>
</body>

</html>