<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/edit-group.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <!-- FontAwesomeのkit -->
    <script src="https://kit.fontawesome.com/f960b0de38.js" crossorigin="anonymous"></script>
    <title>グループ編集</title>
</head>

<body>
    <header>
        <!-- ハンバーガーメニュー -->
        <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <!--ここから中身-->
            <div class="menu-content">
                <ul>
                    <li>
                        <a href="#">ホーム</a>
                    </li>
                    <li>
                        <a href="#">グループ</a>
                    </li>
                    <li>
                        <a href="#">アカウント</a>
                    </li>
                    <li>
                        <a href="#">ログアウト</a>
                    </li>
                    <li>
                        <a href="#">退会</a>
                    </li>
                </ul>
            </div>
            <!--ここまで中身-->
        </div>
        <h2 class="header-top app-name">トモチャット</h2>
        <div class="avatar">
            {% if profile_img %}
            <!-- プロフィール画像 -->
            <img class="profile" src="{{ url_for('static', filename=profile_img) }}">
            {% else %}
            <!-- 人型アイコン -->
            <i class="default-icon" class="default-icon fa-solid fa-circle-user"></i>
            {% endif %}
        </div>
    </header>

    <!--メインコンテンツ-->
    <div class="container-wrap">
        <p class="page_title"> グループ編集</p>
        <div class="container">

            <form action="/update_chat_group" method="post" enctype="multipart/form-data">
                <div class="profile">
                    <input class="file_upload" id="file_upload" type="file" name="group_img"
                        accept="image/png, image/jpeg, image/png" value="">
                    <label for="profile_img">
                        {% if group.group_img %}
                        <img src="{{ url_for('static', filename=group.group_img) }}">
                        {% else %}
                        <img id="jsPreview" src="">
                        <i id="default-icon" class="default-icon fa-solid fa-people-group">
                        </i>
                        {% endif %}
                    </label>
                </div>

                <input type="text" name="chat_groupTitle" value="{{ group.name }}" class="group-input-text">
                <input type="hidden" name="cid" value="{{ cid }}">
                <div class="button-container">
                    <button class="btn-white-long" onclick="history.back()">戻る</button>
                    <button class="btn-black-long" type="submit" name="action" value="update">更新する</button>
                </div>
                <div class="del-btn-container">
                    <button class="btn-black-long" type="submit" name="action" value="delete">削除する</button>
                </div>
            </form>
        </div>
    </div>



    <script>
        // プロフィール画像ファイル選択時のプレビュー
        // 画像をアップロードした時に発火
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('file_upload').addEventListener('change', (e) => {
            defaultIcon = document.getElementById('default-icon');
            jsPreview = document.getElementById("jsPreview");
            const file = e.target.files[0];
            console.log(file)
            if (file) {
                const fileReader = new FileReader();
                fileReader.onload = (event) => {
                    defaultIcon.style.display = 'none';
                    jsPreview.style.display = 'block';
                    jsPreview.src = event.target.result;
                }
                fileReader.readAsDataURL(file);
            }
        })
    });
    </script>
</body>

</html>