{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    {% endblock %}
{% block body %}
    <div class="container">
        <div class="icon-name">
            <div class="profile">
                <label for="profile_img">
                    {% if profile_img %}
                    <img id="jsPreview" src="{{ url_for('static', filename=profile_img) }}">
                    {% else %}
                    <i id="default-icon" class="default-icon fa-solid fa-circle-user"></i>
                    {% endif %}
                </label>
            </div>
            <p class="user_name">{{ user_name }}</p>
        </div>

        <button class="btn-black-long" onclick="location.href=`{{ url_for('update_profile') }}`">プロフィール編集</button>
        <button class="btn-white-long" onclick="location.href=`{{ url_for('index') }}`">グループ一覧</button>
    </div>
{% endblock %}