<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <!-- FontAwesomeのkit -->
    <script src="https://kit.fontawesome.com/f960b0de38.js" crossorigin="anonymous"></script>
    <title>ホーム</title>
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <!-- ハンバーガーメニュー -->
        <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <!--ここから中身-->
            <div class="menu-content">
                <ul>
                    <li>
                        <a href="{{ url_for('home') }}">ホーム</a>
                    </li>
                    <li>
                        <a href="{{ url_for('index') }}">グループ</a>
                    </li>
                    <li>
                        <a href="{{ url_for('update_profile') }}">アカウント</a>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">ログアウト</a>
                    </li>
                    <li>
                        <a href="{{ url_for('show_withdrawal') }}">退会</a>
                    </li>
                </ul>
            </div>
            <!--ここまで中身-->
        </div>
        <h2 class="header-top app-name">トモチャット</h2>
    </header>

    <!-- flashメッセージ始まり -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- flashメッセージ終わり -->

    <div class="container-wrap">
        <div class="container">
            <div class="icon-name">
                <!-- もしprofile_imgがあれば {% if profile_img %} -->
                <!-- <img src=""> -->
                <!--なければデフォルトアイコンを表示 {% else %} -->
                <i class="default-icon fa-solid fa-circle-user"></i>
                <!-- {% endif %} -->
                <p class="user_name">{{ user_name }}</p>
            </div>

            <button class="btn-black-long" onclick="location.href='{{ url_for("update_profile") }}'">プロフィール編集</button>
            <button class="btn-white-long" onclick="location.href='{{ url_for("index") }}'">グループ一覧</button>
        </div>
    </div>

</body>

</html>