<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/update_profile.css">
    <!-- FontAwesomeのkit -->
    <script src="https://kit.fontawesome.com/f960b0de38.js" crossorigin="anonymous"></script>
    <title>アカウント変更</title>
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <!-- ハンバーガーメニュー -->
        <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span></span></label>
            <!--ここから中身-->
            <div class="menu-content">
                <ul>
                    <li>
                        <a href="#">ホーム</a>
                    </li>
                    <li>
                        <a href="#">グループ</a>
                    </li>
                    <li>
                        <a href="#">アカウント</a>
                    </li>
                    <li>
                        <a href="#">ログアウト</a>
                    </li>
                    <li>
                        <a href="#">退会</a>
                    </li>
                </ul>
            </div>
            <!--ここまで中身-->
        </div>
        <h2 class="header-top app-name">トモチャット</h2>
    </header>


    <div class="container-wrap">
        <p class="page_title">アカウント内容</p>
        <div class="container">
            <form action="" method="post">
                
                <div class="profile">
                    <input class="file_upload" id="file_upload" type="file" name="profile_img" accept="image/png, image/jpeg, image/png">
                    <label for="profile_img">
                        <!-- もしprofile_imgがあれば {% if profile_img %} -->
                            <img id="jsPreview" src="">
                        <!--なければデフォルトアイコンを表示 {% else %} -->
                            <i id="default-icon" class="default-icon fa-solid fa-circle-user"></i>
                        <!-- {% endif %} -->
                    </label>
                </div>

                <div class="input-area">
                    <label for="user_name">ユーザー名</label>
                    <input type="text" name="user_name" placeholder="{{ user_name }}">
                </div>

                <div class="input-area">
                    <label for="email">メールアドレス</label>
                    <input type="email" name="email" placeholder="{{ email }}">
                </div>

                <div class="input-area">
                    <label for="password">パスワード</label>
                    <input type="password" name="password" placeholder= "{{ '●' * password_length }}">
                </div>

                <div class="input-area">
                    <label for="password_confirm">パスワード確認</label>
                    <input type="password" name="password_confirm" placeholder="{{ '●' * password_length }}">
                </div>

                <div class="buttons">
                    <button onclick="history.back()" type="reset" class="btn-white-short">戻る</button>
                    <button type="submit" class="btn-black-short">登録する</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        // プロフィール画像ファイル選択時のプレビュー
        defaultIcon = document.getElementById('default-icon');
        jsPreview = document.getElementById("jsPreview");


        document.addEventListener("DOMContentLoaded", function() {
            if (!jsPreview.getAttribute("src") || jsPreview.getAttribute("src") === ""){
                    defaultIcon.style.display ='block';
                    jsPreview.style.display = 'none';
            }else {
                defaultIcon.style.display ='none';
                jsPreview.style.display = 'block';
            }
        
            document.getElementById('file_upload').addEventListener('change', (e)=>{
                const file = e.target.files[0];
                console.log(file)
                if (file) {
                    const fileReader = new FileReader();
                    fileReader.onload = (event) =>{
                    jsPreview.src = event.target.result;
                    defaultIcon.style.display ='none';
                    jsPreview.style.display = 'block';
                    }
                    fileReader.readAsDataURL(file);
                } else {
                    defaultIcon.style.display ='block';
                    jsPreview.style.display = 'none';
                }
            });
        });

    </script>
</body>

</html>